@using Microsoft.AspNet.Identity
@using MiniFacebook.Domena.Helpers
@model MiniFacebook.Models.UserViewModel


@foreach (var itemx in Model.Posts)
{
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                @itemx.Text
                <hr />
                   
            
                @if (itemx.Likes.Any(x => x.ApplicationUserId == System.Web.HttpContext.Current.User.Identity.GetUserId() && x.PostId == itemx.Id))
                {
                    <a href="javascript:void(0)" class="unlike" data-id="@itemx.Id" data-assigned="@itemx.NrOfLikes" style="text-decoration: none;"><font size="3"><i class="glyphicon glyphicon-heart"></i></font><b><font size="4"> Like</font></b></a>
                
                } else
                {
                    <a href="javascript:void(0)" class="like" data-id="@itemx.Id" data-assigned="@itemx.NrOfLikes" style="text-decoration: none;"><font size="3"><i class="glyphicon glyphicon-heart-empty"></i></font><font size="4"> Like</font></a>
                
                } 
            
            </div>
            <div class="panel-footer clearfix">
                @Model.FirstName @Model.LastName - @itemx.PostTime
                @if (User.Identity.GetNickname() == Model.Nickname)
                {
                    using (Html.BeginForm("DeletePost", "User", new { id = itemx.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        <button type="submit" class="btn btn-default btn-sm pull-right " style="margin-top:-20px;"><span class="glyphicon glyphicon-remove"></span></button>
                    }
                }
            </div>

        </div>
    </div>
</div>
}


<style>
    .panel-body {
        word-break: break-all;
    }

    .panel-footer {
        height: 50px;
    }
</style>